*
{
    text-align: center;
    color: white;
}

body
{
    margin: 0 auto;
    background-color: rgb(0, 255, 21);
}

span
{
    display: block;
}

h1
{
    margin-top: 0;
    box-sizing: border-box;
    padding: 5px;
    height: 50px;
    background-color: pink;
    color: yellow;
}